<?xml version="1.0" encoding="GBK"?>
<beans default-init-method="init" default-destroy-method="destroy"
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
  		http://www.springframework.org/schema/beans/spring-beans.xsd
  		http://www.springframework.org/schema/context  
  		http://www.springframework.org/schema/context/spring-context.xsd ">
  		
	<!-- 创建数据源 -->
	<bean id="dataSource1" class="com.alibaba.druid.pool.DruidDataSource" destroy-method="close">
		<property name="driverClassName" value="${db.driver}" />
		<property name="url" value="${db.url}" />
		<property name="username" value="${db.username}" />
		<property name="password" value="${db.password}" />
	</bean>
	
	<bean id="dataSource2" class="com.alibaba.druid.pool.DruidDataSource" destroy-method="close">
		<property name="driverClassName" value="${db.driver2}" />
		<property name="url" value="${db.url2}" />
		<property name="username" value="${db.username2}" />
		<property name="password" value="${db.password2}" />
	</bean>
	
	<bean id="dataSource" class="com.huateng.common.RoutingDataSource">
		<property name="defaultTargetDataSource" ref="dataSource2"/>
		<property name="targetDataSources">
			<map key-type="java.lang.String">
				<entry key="ds1" value-ref="dataSource1"/>
				<entry key="ds2" value-ref="dataSource2"/>
			</map>
		</property>
	</bean>
	

	<!-- SqlSessionFactory -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<!-- 数据源 -->
		<property name="dataSource" ref="dataSource"></property>
		<!-- 别名定义 -->
		<property name="typeAliasesPackage" value="com.huateng.entity"></property>
		<!-- 自动扫描mapping.xml文件 -->
		<property name="mapperLocations" value="classpath:mapper/*.xml"></property>
		<!-- 指定mybatis的全局配置文件的路径 -->
		<!-- <property name="configLocation" value="classpath:mybatis/SqlMapConfig.xml"></property> -->
	</bean>
	<!-- DAO接口所在包名，Spring会自动查找其下的类 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.huateng.dao" />
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
	</bean>


</beans>