<?xml version="1.0" encoding="GBK"?>
<beans default-init-method="init" default-destroy-method="destroy"
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
  		http://www.springframework.org/schema/beans/spring-beans.xsd
  		http://www.springframework.org/schema/aop
  		http://www.springframework.org/schema/aop/spring-aop.xsd
  		http://www.springframework.org/schema/context  
  		http://www.springframework.org/schema/context/spring-context.xsd">
  	<!-- 启动AspectJ支持 -->  
    <aop:aspectj-autoproxy />  
  	<import resource="classpath:rabbitmq/rabbitmq.xml"/>
  	<context:component-scan base-package="com.huateng" />
  <!-- 	<context:component-scan base-package="com.huateng" use-default-filters="false">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Repository"/> 
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Service"/> 
	 </context:component-scan> -->
	 
	 <!-- 将多个配置文件读取到容器中，交给Spring管理 -->
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:rabbitmq.properties</value>
				<value>classpath:db.properties</value>
			</list>
		</property>
	</bean>
  
</beans>